@model AddUserViewModel

@{
    ViewData["Title"] = "Add User";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h1 class="text-center">@ViewData["Title"]</h1>
                    <form asp-action="AddUser" method="post">
                        <div class="form-floating mb-3">
                            <input asp-for="FirstName" class="form-control" autocomplete="username" aria-required="true" placeholder="First Name" />
                            <label asp-for="FirstName">First Name</label>
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>
                        <div class="form-floating mb-3">
                            <input asp-for="LastName" class="form-control" autocomplete="username" aria-required="true" placeholder="Last Name" />
                            <label asp-for="LastName">Last Name</label>
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>
                        <div class="form-floating mb-3">
                            <input asp-for="Email" class="form-control" autocomplete="username" aria-required="true" placeholder="Email" />
                            <label asp-for="Email">Email</label>
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-floating mb-3">
                            <input asp-for="PhoneNumber" class="form-control" autocomplete="username" aria-required="true" placeholder="Phone Number" />
                            <label asp-for="PhoneNumber">Phone Number</label>
                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                        </div>
                        <div class="form-floating mb-3">
                            <input asp-for="BirthDate" class="form-control" autocomplete="username" aria-required="true" placeholder="Birth Date" />
                            <label asp-for="BirthDate">Birth Date</label>
                            <span asp-validation-for="BirthDate" class="text-danger"></span>
                        </div>
                        <div class="form-floating mb-3">
                            <input asp-for="Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Password" />
                            <label asp-for="Password">Password</label>
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="form-floating mb-3">
                            <input asp-for="ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Confirm Password" />
                            <label asp-for="ConfirmPassword">Confirm Password</label>
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                        <button type="submit" class="w-100 btn btn-primary btn-lg">Save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
