@model IEnumerable<GenreFormViewModel>

@{
    ViewData["Title"] = "Genres";
}

<h1 class="text-center">Genres</h1>

<div class="row">
    <div class="col-md-8 offset-md-2">
        <table class="table table-striped mt-4">
            <thead class="bg-primary text-white">
                <tr>
                    <th>Name</th>
                    <th colspan="2">Movies</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var genre in Model)
                {
                    <tr>
                        <td>@genre.Name</td>
                        <td colspan="2">
                            <div class="row">
                                @foreach (var movie in genre.Movies)
                                {
                                    <div class="col-md-6">
                                        @movie
                                    </div>
                                }
                            </div>
                        </td>
                        <td>
                            <div class="d-flex justify-content-end">
                                <partial name="_EditGenre" model="new GenreFormViewModel { Id = genre.Id }"></partial>
                                <a class="btn btn-danger ml-2 js-delete" href="javascript:;" data-id="@genre.Id">Delete</a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div class="row justify-content-center mt-4">
    <div class="col-md-4">
        <partial name="_GenreForm" model="new GenreFormViewModel()"></partial>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        $(document).ready(function () {
            $('.js-delete').on('click', function () {
                var btn = $(this);

                bootbox.confirm({
                    message: "Are you sure that you need to delete this genre? If you want to delete this genre, you must delete all movies in this genre first.",
                    buttons: {
                        confirm: {
                            label: 'Yes',
                            className: 'btn-danger'
                        },
                        cancel: {
                            label: 'No',
                            className: 'btn-outline-secondary'
                        }
                    },
                    callback: function (result) {
                        if (result) {
                            $.ajax({
                                url: '/genres/delete/' + btn.data('id'),
                                success: function () {
                                    var genreRow = btn.closest('tr');
                                    genreRow.addClass('animate__animated animate__zoomOut');

                                    setTimeout(function () {
                                        genreRow.remove();
                                    }, 1000);

                                    toastr.success('Genre deleted');
                                },
                                error: function (xhr) {
                                    var response = xhr.responseJSON;
                                    if (response && response.message) {
                                        toastr.error(response.message);
                                    } else {
                                        toastr.error('Something went wrong!');
                                    }
                                }
                            });
                        }
                    }
                });
            });
        });
    </script>
}



