@model IEnumerable<GenreFormViewModel>

@{
    ViewData["Title"] = "Genres";
}

<h1>Genres</h1>
<table class="table table-striped mt-4">
    <thead>
        <tr class="bg-primary text-white">
            <th>Name</th>
            <th>Movies</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Name</td>
                <td>@string.Join(",", user.Movies.ToList())</td>
                <td>
                   <partial name="_EditGenre" model="new GenreFormViewModel{Id=user.Id}"></partial>
                </td>
                <td>
                    <a class="btn btn-danger" asp-controller="Genres" asp-action="Delete" asp-route-Id="@user.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<partial name="_GenreForm" model="new GenreFormViewModel()"></partial>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

