html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.profile-picture {
    height: 190px;
    width: 190px;
    object-fit: cover;
}

.avatar {
    height: 30px;
    width: 30px;
    object-fit: cover;
}

.poster {
    min-height: 236px;
    background-position: center;
    background-size: 100%;
    transition: all 0.3s ease-in-out;
}

.poster:hover {
    background-size: 125%;
    transition: all 0.3s ease-in-out;
}

.mt-60-px {
    margin-top: 60px;
}


/* Additional Styles */
.table th {
    font-weight: bold;
}

.table td,
.table th {
    vertical-align: middle;
}

.table thead tr {
    text-align: center;
}

/* Style for movie list */
.row .col-md-6 {
    margin-bottom: 5px;
}


/* Additional Styles */
.border {
    border: 1px solid #ced4da;
}

.rounded {
    border-radius: 6px;
}

.custom-file-label::after {
    content: "Browse";
}


/* Additional Styles */
.table th {
    font-weight: bold;
}




