@model IEnumerable<IdentityRole>

@{
    ViewData["Title"] = "Roles";
}

<h1 class="text-center">Roles</h1>

<div class="row">
    <div class="col-md-8 offset-md-2">
        <table class="table table-striped mt-4">
            <thead class="bg-primary text-white">
                <tr>
                    <th>Role Name</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var role in Model)
                {
                    <tr>
                        <td>@role.Name</td>
                        <td>
                            <div class="d-flex justify-content-end">
                                <a class="btn btn-primary" asp-controller="Roles" asp-action="ManageRoleUsers" asp-route-Id="@role.Id">Manage Role</a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<style>
    /* Additional Styles */
    .table th {
        font-weight: bold;
    }

    .table td,
    .table th {
        vertical-align: middle;
    }

    .table thead tr {
        text-align: center;
    }
</style>
